.droppad{
	margin-top: 0px 5px 0px 0px;
}

li{
	margin-right: 8px;
	}

.navitemcolor{
			color: white;
		}

.navitemfontstyle{
			font-family: 'Quicksand', sans-serif;
		}

		
.navheading{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
}